<a href="https://colab.research.google.com/github/NatalyAraiza/Introduccion_estadistica_R/blob/master/crecimiento_real_PIB.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
getwd()

[1] "/content"

In [3]:
datos <- read.table("Crecimiento real del PIB.csv", sep =",", header=TRUE)

In [4]:
head(datos) #nombre de encabezados

  Periodo Porcentaje
1 1994/01  3.34197
2 1994/02  5.91376
3 1994/03  5.32963
4 1994/04  5.15238
5 1995/01 -1.48542
6 1995/02 -9.06758